<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Expires" content="0" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta name="viewport" content="width=device-width, user-scalable=yes" />
  <title>Xconf Log Web UI</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/lib/moment.js"></script>
  <script type="text/javascript" src="js/lib/daterangepicker.js"></script>
  <script type="text/javascript" charset="utf-8">
    var now = Date.now();
    var require = {
      //module base
      baseUrl: "./js",
      //module short cut path
      paths: {},
      //external lib not support AMD
      shim: {},
      // query setting to avoid browser cache
      // if live environment , use version num. instead of time
      urlArgs: "ts=" + now
    };
    [
      "css/common.css?ts=" + now,
      "css/font.css?ts=" + now,
      "css/daterangepicker.css?ts=" + now
    ].forEach(function (src) {
      var link = document.createElement("link");
      link.href = src;
      link.type = "text/css";
      link.rel = "stylesheet";
      link.async = false;
      document.head.appendChild(link);
    });
    [
      "js/lib/require.min.js",
      "js/lib/alticast_webfw.js",
      "js/lib/date.js"
    ].forEach(function (src) {
      var script = document.createElement("script");
      script.src = src;
      script.async = false;
      document.head.appendChild(script);
    });
  </script>
  <script type="text/javascript">
    function onload() {
      (function () {
        require(["Config", "ui/UI"], function (config, UI) {
          var global = Function("return this")();
          global.APP = {};
          APP.Config = config;
          W.log.level = W.log.ERROR;
          W.setRCPath(APP.Config.IMAGE_PATH);
          W.startApp({
            sceneName: "ui/MainScene",
            param: {}
          });
        });
      })();
    }
  </script>
</head>
<body onload="onload()">
  <div id="foot_div" class="footer">
    <p class="ft_logo">Auteur Art & Technology, LLC</p>
    <div class="ft_menu_box">
    <p class="copyright">For additional information concerning this server, please contact AAT, LLC at</p><br>
    <p class="copyright"><Span class="copyright_t">Auteur Art & Technology, LLC</Span> 4144 Prairie Fire Circle, Longmont, CO 80503
      <a style="text-decoration:none" href="http://www.auteurtechnology.com"><Span class="copyright_t">www.auteurtechnology.com</Span></a></p><br>
    <br>
    <p class="copyright"><Span class="copyright_t">Support: </Span>Mark Millard, mark.s.millard@gmail.com</p><br>
    <p class="copyright">© Copyright 2022 Auteur Art & Technology, LLC. All rights reserved.</p>
  </div>
</body>
</html>
