<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Expires" content="0" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta name="viewport" content="width=device-width, user-scalable=yes" />
  <title>XConf Log Web UI</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/lib/moment.js"></script>
  <script type="text/javascript" src="js/lib/daterangepicker.js"></script>
  <script type="text/javascript" charset="utf-8">
    var now = Date.now();
    var require = {
      //module base
      baseUrl: "./js",
      //module short cut path
      paths: {},
      //external lib not support AMD
      shim: {},
      // query setting to avoid browser cache
      // if live environment , use version num. instead of time
      urlArgs: "ts=" + now
    };
    [
      "css/common.css?ts=" + now,
      "css/font.css?ts=" + now,
      "css/daterangepicker.css?ts=" + now
    ].forEach(function (src) {
      var link = document.createElement("link");
      link.href = src;
      link.type = "text/css";
      link.rel = "stylesheet";
      link.async = false;
      document.head.appendChild(link);
    });
    [
      "js/lib/require.min.js",
      /*"js/lib/jquery.min.js",*/
      "js/lib/alticast_webfw.js",
      "js/lib/date.js"
    ].forEach(function (src) {
      var script = document.createElement("script");
      script.src = src;
      script.async = false;
      document.head.appendChild(script);
    });
  </script>
  <script type="text/javascript">
    function onload() {
      console.log("onload");
      (function () {
        require(["Config", "ui/UI"], function (config, UI) {
          var global = Function("return this")();
          global.APP = {};
          APP.Config = config;
          W.log.level = W.log.TRACE;
          W.setRCPath(APP.Config.IMAGE_PATH);
          W.startApp({
            sceneName: "ui/MainScene",
            param: {}
          });
        });
      })();
    }

    $(document).ready(function(){
      console.log("document ready");
      dateRangePicker();
    });
    var date = new Date();
    var year = date.getFullYear();
    var month = date.getMonth()+1;
    var day = date.getDate();
    var today = year+"/"+month+"/"+day;
    var startEp, endEp;
    var rangeStart, rangeEnd;
    var gap, interval;
    //console.log(startEp+"  "+endEp); //1549897200    1550502000
    var filteredR=""; 
    var filteredM="";
    var pickerStartEp;
    var pickerEndEp;
    startEp = moment(today).unix(); //unix time  00:00:00
    endEp = startEp + 86399; //unix time 23:59:59
    rangeStart = startEp;
    rangeEnd = endEp;

    function dateRangePicker(){
      $(function() {
        $('input[name="start_date"]').daterangepicker({
          singleDatePicker: true,
          showDropdowns: true,
          autoUpdateInput: false
        }, function(start, end, label) {
          
        });
        $('input[name="start_date"]').on('apply.daterangepicker', function(ev, picker) {
          $(this).val(picker.startDate.format('YYYY-MM-DD'));
        });
      });
      $(function() {
        $('input[name="end_date"]').daterangepicker({
          singleDatePicker: true,
          showDropdowns: true,
          autoUpdateInput: false
        }, function(start, end, label) {
          
        });
        $('input[name="end_date"]').on('apply.daterangepicker', function(ev, picker) {
          $(this).val(picker.startDate.format('YYYY-MM-DD'));
        });
      });    
    }
  
  </script>
</head>

<body onload="onload()">
  <input id="start_date" type="text" class="input_date"
      name="start_date" value="" style="position:absolute; z-index:999; cursor: pointer; left: 20px; top: 156px; width: 77px;height: 25px;"/>
  <input id="end_date" type="text" class="input_date" 
      name="end_date" value="" style="position:absolute; z-index:999; cursor: pointer; left: 134px; top: 156px; width: 77px;height: 25px;"/>
  <input id="size_from" type="text" class="input_date" 
      name="size_from" value="" style="position:absolute; z-index:999; cursor: pointer; left: 20px; top: 236px; width: 77px;height: 25px;"/>
  <input id="size_to" type="text" class="input_date" 
      name="size_to" value="" style="position:absolute; z-index:999; cursor: pointer; left: 134px; top: 236px; width: 77px;height: 25px;"/>
  <input id="file_name" type="text" class="input_date" 
      name="file_name" value="" style="position:absolute; z-index:999; cursor: pointer; left: 20px; top: 316px; width: 190px;height: 25px;"/>
      <!--script type="text/javascript">
      console.log("run daterangepicker1 ");
      console.log("run daterangepicker1 ");
      var date = new Date();
    var year = date.getFullYear();
    var month = date.getMonth()+1;
    var day = date.getDate();
    var today = year+"/"+month+"/"+day;
    var startEp, endEp;
    var rangeStart, rangeEnd;
    var gap, interval;
    //console.log(startEp+"  "+endEp); //1549897200    1550502000
    var filteredR=""; 
    var filteredM="";
    var pickerStartEp;
    var pickerEndEp;
    startEp = moment(today).unix(); //unix time  00:00:00
    endEp = startEp + 86399; //unix time 23:59:59
    rangeStart = startEp;
    rangeEnd = endEp;

      $(function() {
        $('input[name="start_date"]').daterangepicker({
          singleDatePicker: true,
          showDropdowns: true,
          autoUpdateInput: false
        }, function(start, end, label) {
          
        });
        $('input[name="start_date"]').on('apply.daterangepicker', function(ev, picker) {
          $(this).val(picker.startDate.format('YYYY-MM-DD'));
        });
      });
      $(function() {
        $('input[name="end_date"]').daterangepicker({
          singleDatePicker: true,
          showDropdowns: true,
          autoUpdateInput: false
        }, function(start, end, label) {
          
        });
        $('input[name="end_date"]').on('apply.daterangepicker', function(ev, picker) {
          $(this).val(picker.startDate.format('YYYY-MM-DD'));
        });
      });   
      
      </script-->
</body>
</html>