<html>
  <h1>
    {{ .title }}
  </h1>
  <p>
  This site may be used to download RDK logs that have been uploaded via the RDK Xconf Server.
  </p>
  <h2>Logs</h2>
  <p>The following logs are available for download:</p>
  <ul>
  <li>{{ range .loglist }} {{.}} {{end}}</li>
  </ul>
  <h2>Contact Information</h2>
  <p>
  For additional information concerning this server, please contact <i>Alticast, Inc.</i> at<br><br>
  <b>Mark Millard</b>, <a href="mailto:mmillard@alticast.com">mmillard@alticast.com</a><br>
  Alticast, Inc.<br>
  370 Interlocken Blvd, Suite 120, Broomfield, CO 80021<br>
  <a href=http://www.alticast.com>www.alticast.com</a>
  </p>
</html>
