@font-face  {
    font-family: 'OpenSans-Bold';
    font-style: OB;
     src: local("../font/OpenSans-Bold"),
        local("../font/OpenSans-Bold"),
        url("../font/OpenSans-Bold.eot?#iefix") format('embedded-opentype'),
        url("../font/OpenSans-Bold.woff") format('woff'),
        url("../font/OpenSans-Bold.ttf") format('truetype');
  }
 
 @font-face  {
    font-family:'OpenSans-Light';
    font-style: OL;
    src: local("../font/OpenSans-Light"),
         local("../font/OpenSans-Light"),
         url("../font/OpenSans-Light.eot?#iefix") format('embedded-opentype'),
         url("../font/OpenSans-Light.woff") format('woff'),
         url("../font/OpenSans-Light.ttf") format('truetype');
  }
  @font-face  {
    font-family:'OpenSans-Regular';
    font-style: OR;
    src: local("../font/OpenSans-Regular"),
         local("../font/OpenSans-Regular"),
         url("../font/OpenSans-Regular.eot?#iefix") format('embedded-opentype'),
         url("../font/OpenSans-Regular.woff") format('woff'),
         url("../font/OpenSans-Regular.ttf") format('truetype');
  }
  @font-face  {
    font-family:'OpenSans-Semibold';
    font-style: OS;
    src: local("../font/OpenSans-Semibold"),
         local("../font/OpenSans-Semibold"),
         url("../font/OpenSans-Semibold.eot?#iefix") format('embedded-opentype'),
         url("../font/OpenSans-Semibold.woff") format('woff'),
         url("../font/OpenSans-Semibold.ttf") format('truetype');
  }
 
 @font-face {
       font-family: 'fontello';
       src: local('../font/fontello.woff?68875300') format('woff');
       src: url('../font/fontello.eot?68875300#iefix') format('embedded-opentype'),
            url('../font/fontello.woff?68875300') format('woff'),
            url('../font/fontello.ttf?68875300') format('truetype'),
            url('../font/fontello.svg?68875300#fontello') format('svg');
       font-weight: normal;
       font-style: normal;
}